/*Text Formatation*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}

main {
    color: #828282;
}

h1{
    color: #3F3D56;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

h1 span{
    color: #EE24FF;
    font-weight: bold;
}

p strong {
    color: #3F3D56;
}

footer a {
    color: #3F3D56;
    font-weight: 700;
}

footer a + a {
    margin-left: 42px;
}

/*Alinhamento*/

body {
    text-align: center;
}

main, footer {
    width: 626px;
    margin: 64px auto;
}

/*Espaçamento*/

main img, p {
    margin-bottom: 32px;
}

/*Posicionamento*/

.line {
    width: 391px;
    margin: 64px auto 16px;
    color: #ECEFF2;
    border: 1px solid;
}

#wave img {
    display: block;
    width: 100%;
}